{# templates/security/login.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block body %}
    <h2>Log in</h2>

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form method="post">
        <div class="mb-3">
            <label for="inputEmail" class="form-label">Email address</label>
            <input type="email" name="_username" class="form-control" id="inputEmail" required autofocus>
        </div>
        <div class="mb-3">
            <label for="inputPassword" class="form-label">Password</label>
            <input type="password" name="_password" class="form-control" id="inputPassword" required>
        </div>
        <button type="submit" class="btn btn-primary">Log in</button>
    </form>
{% endblock %}
