{# templates/security/register.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h2>Register</h2>

    {{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword) }}
    <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(form) }}
{% endblock %}
